<div id="information">

  <%= form_for("information", url:"/information") do |f| %>
    <% Language.all.each do |l| %>
      <%= f.check_box(l.name, {}) %>
      <%= f.label(l.name, l.name) %>
      <br>
    <% end %>
    <%= f.label("about", "Tell us about yourself") %>
    <%= f.text_field("about", {id: "about",
                     maxlength: 500,
                     size: 75,
                     placeholder: "Favorite text editor, tdd, dsa, wut"}) %>
                     <%= f.submit %>
                   <% end %>
                 </div>
